{
  "linters": {
    "*.js": [
      "eslint"
    ],
    "**/*.+(js|jsx|json|css|)": [
      "prettier --write",
      "git add"
    ],
    '**/*.js': ['react-scripts test --findRelatedTests --coverage']
  }
}